.todo {
  transition: width .075s, background-color .075s;
  width: 350px;
  padding: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}

.todo:hover {
  width: 370px;
  padding-right: 35px;
}

.todo__status {
  font-weight: bold;
}

.todo_completed {
  background-color: rgba(144, 238, 144, 1);
}

.todo_completed:hover {
  background-color: rgba(144, 238, 144, .7);
}

.todo_uncompleted {
  background-color: rgba(255, 99, 71, 1);
}

.todo_uncompleted:hover {
  background-color: rgba(255, 99, 71, .7);
}